[Desktop Entry]
Name=Hello World
Comment=A tiny Qt desktop example
Exec=hello-world
Icon=org.example.HelloWorld
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
